body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #181a1b;
    color: white;
}

h1, h2, h3 {
    color: #fff;
}

.passport-container {
    width: 600px;
    height: 765px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url("../images/passport_image.png");
    background-size: cover;
}

.page-1, .page-2 {
    padding: 20px;
}

.header {
    padding-top: 65px;
    padding-left: 60px;
}

.organization {
    color: black !important;
    margin-top: 10px;
    margin-left: 45px;
}

.date-number {
    padding-top: 55px;
    padding-left: 125px;
    text-align: left !important;
    color: black !important;
    margin-left: -80px !important;
    margin-top: -5px !important;
}

.number {
    margin-left: 150px;
}

.signatures-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.signature {
    height: 100px;
    margin: 0 50px;
}

.name-section {
    text-align: center;
    margin-top: -220px;
    margin-left: 80px;
}

.name {
    color: black !important;
    margin: 5px;
}

.middle-name {
    color: black !important;
    margin-top: 15px;
}

.birth-info {
    color: black !important;
    margin: 0;
    padding-left: 35px;
}

.city, .region {
    color: black !important;
    margin: 0;
}

.passport-photo {
    width: 134px;
    height: auto;
    margin-left: 30px;
    margin-top: 100px;
}

.container {
    background-color: #2c2f32 !important;
    padding: 20px !important;
    border-radius: 5px !important;
    color: white !important;
    font-family: Arial, sans-serif !important;
}

.navbar {
    background-color: #2c2f32 !important;
    border-radius: 5px !important;
    margin-bottom: 50px;
}

.navbar-brand {
    margin: auto;
    margin-bottom: 8px;
    padding-right: 5px;
}

.nav-link {
    color: white !important;
}

.nav-link.active {
    color: #4CAF50 !important;
}

.nav-link:hover {
    color: #4CAF50 !important;
}

form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="password"],
textarea {
    padding: 5px;
    width: 100% !important;
    background-color: #2c2f32 !important;
    color: white !important;
    border: 1px solid #4CAF50 !important;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="date"]::placeholder,
input[type="password"]::placeholder {
    color: grey !important;
}

input[type="text"]:not(:placeholder-shown),
input[type="number"]:not(:placeholder-shown),
input[type="tel"]:not(:placeholder-shown),
input[type="email"]:not(:placeholder-shown),
input[type="date"]:not(:placeholder-shown),
input[type="password"]:not(:placeholder-shown) {
    background-color: white !important;
    color: black !important; 
}

input[type="text"]:not(:placeholder-shown)::placeholder,
input[type="number"]:not(:placeholder-shown)::placeholder,
input[type="tel"]:not(:placeholder-shown)::placeholder,
input[type="email"]:not(:placeholder-shown)::placeholder,
input[type="date"]:not(:placeholder-shown)::placeholder,
input[type="password"]:not(:placeholder-shown)::placeholder {
    color: transparent;
}

input[type="button"],
input[type="submit"] {
    padding: 5px 10px;
    background-color: #4CAF50 !important;
    color: white !important;
    border: none;
    cursor: pointer;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: #45a049;
}

#resultMessage {
    margin-top: 20px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 10px;
    border: 1px solid #4CAF50;
    background-color: rgba(255, 255, 255, 0.1);
}

.discount-table {
    position: relative;
    z-index: 1;
    border-collapse: collapse;
}

.discount-table::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/background-image.png');
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

.discount-table::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.discount-table td {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.discount-table img {
    max-width: 20%;
    height: auto;
}

.img-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
    width: auto;
    height: auto;
}

.img-fluid.passport {
    width: 60% !important;
}

img {
    width: 1600px;
    height: 1600px;
}

.price {
    color: #4CAF50 !important;
    font-weight: bold;
    font-size: larger;
}

.info-image {
    padding-top: 30px;
    padding-bottom: 30px;
    width: auto;
    height: 500px;
}

input[type="radio"] {
    accent-color: #4CAF50;
}

.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
}

.radio-btn {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #2c2f32;
    border: 2px solid #4CAF50;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s;
}

.custom-radio input[type="radio"]:checked + .radio-btn {
    background-color: #4CAF50;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
}

.checkbox-btn {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #2c2f32;
    border: 2px solid #4CAF50;
    border-radius: 3px;
    transform: translateY(-50%);
    transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-btn {
    background-color: #4CAF50;
}

.home-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
}
